pt2/src/main/app/pt2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <asynchronous-processing-strategy name="Asynchronous_Processing_Strategy" maxThreads="2000" minThreads="10" threadTTL="2000" maxBufferSize="10" doc:name="Asynchronous Processing Strategy"/>
    <flow name="pt2Flow">
        <file:inbound-endpoint path="D:\MuleC\HSBC\LabSetup 3.8\input" moveToDirectory="D:\MuleC\HSBC\LabSetup 3.8\output" responseTimeout="10000" doc:name="File"/>
        <set-session-variable variableName="startTime" value="#[server.nanoTime()]" doc:name="Session Variable"/>
        <file:file-to-string-transformer doc:name="File to String"/>
        <expression-component doc:name="Expression"><![CDATA[String[] data=payload.split("\n");

payload=java.util.Arrays.asList(data);]]></expression-component>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="myq" doc:name="VM OBEP myq"/>
    </flow>
    <flow name="pt2Flow1" processingStrategy="Asynchronous_Processing_Strategy">
        <vm:inbound-endpoint exchange-pattern="one-way" path="myq" doc:name="VM IBEP myq"/>
        <component class="com.mulesoft.EnricherAuctionComponent" doc:name="Java"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.mulesoft.HighestBidderAuctionComponent" doc:name="Java"/>
        <set-session-variable variableName="endTime" value="#[server.nanoTime()]" doc:name="Session Variable"/>
        <logger message="Time Taken: #[(sessionVars.endTime - sessionVars.startTime)/1000000000] Secs" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
