java-code/target/classes/java-code.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <configuration defaultExceptionStrategy-ref="Catch_Exception_Strategy" doc:name="Configuration">
        <http:config useTransportForUris="false"/>
    </configuration>
    <flow name="java-codeFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/employees" allowedMethods="POST" doc:name="HTTP_Employee_IBEP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <component doc:name="Java">
            <singleton-object class="com.mule.CustomDataToEmployeeComponent"/>
        </component>
        <logger level="INFO" doc:name="Logger"/>
        <rollback-exception-strategy maxRedeliveryAttempts="4" doc:name="Rollback Exception Strategy">
            <expression-component doc:name="Expression"><![CDATA[Thread.sleep(1000);]]></expression-component>
            <on-redelivery-attempts-exceeded>
                <set-payload value="Done" doc:name="Set Payload"/>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>
    </flow>
    <catch-exception-strategy name="Catch_Exception_Strategy">
        <set-payload value="{&quot;message&quot;:&quot;exception caught&quot;,&quot;exception&quot;:&quot;#[exception.cause.message]&quot;,&quot;action&quot;:&quot;Keep calm and try after 10 mins&quot;}" mimeType="application/json" doc:name="Set Payload"/>
        <set-property propertyName="http.status" value="501" doc:name="Property"/>
    </catch-exception-strategy>
</mule>