jms-receiver/target/classes/jms-receiver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="muledb" doc:name="MySQL Configuration"/>
    <flow name="jms-receiverFlow">
        <jms:inbound-endpoint queue="inputq" connector-ref="Active_MQ" doc:name="JMS_IBEP" exchange-pattern="request-response"/>
        <expression-component doc:name="Expression"><![CDATA[String[] data=payload.split(",");


payload=java.util.Arrays.asList(data);]]></expression-component>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into t_employee values(#[Integer.parseInt(payload[0])],#[payload[1]],#[payload[2]],#[Boolean.parseBoolean(payload[3])])]]></db:parameterized-query>
        </db:insert>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
